.intro {
  background-image: url("tree.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-radius: 0%;
}

.textColor {
  color: whitesmoke;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
